@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #406aff 117.04%
  );
  box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #406aff 21.43%,
    #3bace2 50.63%,
    #b936ee 100%,
    #ff56f6 117.04%
  );
}

.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}

@layer base {
  body {
    @apply text-lg leading-8 text-white font-secondary;
  }
  .text-gradient {
    @apply bg-gradient-to-r text-transparent bg-clip-text from-primaryred to-primaryblue font-bold font-primary hover:from-[#FF56F6] hover:to-[#42A6E3];
  }
  .navbar-icon {
    @apply relative flex items-center justify-center 
    h-10 w-10 mt-2 mb-2 mx-auto bg-transparent 
    bg-gradient-to-r from-primaryred to-primaryblue rounded-lg hover:border-[1px]
    hover:text-gray-300 hover:rounded-xl transition-all duration-100 ease-linear
    cursor-pointer ;
  }
  .navbar-tooltip {
    @apply absolute w-auto p-2 pt-1 pb-1 m-2 min-w-max left-10
    rounded-md shadow-md text-white border-[1px]
    text-xs font-bold transition-all duration-100 scale-0 origin-left;
  }
  .header {
    @apply flex flex-row font-extrabold text-transparent transition-all duration-300 origin-left cursor-pointer hover:text-white bg-clip-text bg-gradient-to-r from-primaryred to-primaryblue hover:text-4xl;
  }
  .work-icon {
    @apply h-16 text-center transition-all duration-100 rounded-lg w-60 bg-gradient-to-r from-primaryblue to-primaryred hover:border-[1px] hover:rounded-none hover:cursor-pointer;
  }
  .work-info {
    @apply text-left transition-all duration-300 scale-0 w-96 h-60;
  }
}
